openapi: 3.0.1
info:
  title: SigmaMind APIs
  description: OpenAPI documentation SigmaMind Agent Builder APIs
  version: "1.0"
servers:
- url: https://api.sigmamind.ai
  description: SigmaMind AI Agent Builder APIs
security:
- apiKeyAuth: []
tags:
- name: Call
  description: Endpoints for managing calls
- name: Phone Number
  description: endpoints for managing phone numbers
- name: Campaigns
  description: endpoints for managing campaigns
- name: Webhooks
  description: Endpoints for managing webhooks
paths:
  # Calls APIs
  /v1/calls:
    get:
      tags:
      - Calls
      summary: List Phone Calls
      description: List Phone Call records in paginated list
      operationId: listPhoneCall
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseCallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-03-10T04:31:06.076733
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-03-10T04:31:06.076756
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-03-10T04:31:06.076763
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-03-10T04:31:06.076769
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-03-10T04:31:06.076775
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-03-10T04:31:06.076780
    post:
      tags:
      - Calls
      summary: Create Phone Call
      description: Create an outbound call
      operationId: createPhoneCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-03-10T04:31:06.013667
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-03-10T04:31:06.013697
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-03-10T04:31:06.013708
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-03-10T04:31:06.013716
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-03-10T04:31:06.013724
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-03-10T04:31:06.013731
  /v1/calls/{callId}:
    get:
      tags:
      - Calls
      summary: Get Phone Call
      description: Get Phone Call record using callId
      operationId: getPhoneCallByCallId
      parameters:
      - name: callId
        in: path
        description: "A unique identifier for any call, whether inbound, outbound,\
          \ or web-based."
        required: true
        schema:
          type: string
        example: AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-03-06T03:47:10.064737
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-03-06T03:47:10.064761
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-03-06T03:47:10.064767
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-03-06T03:47:10.064772
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-03-06T03:47:10.064777
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-03-06T03:47:10.064781
    delete:
      tags:
      - Calls
      summary: Delete Phone Call
      description: Delete Phone Call record using callId
      operationId: deletePhoneCallByCallId
      parameters:
      - name: callId
        in: path
        description: "A unique identifier for any call, whether inbound, outbound,\
          \ or web-based."
        required: true
        schema:
          type: string
        example: AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-03-06T03:47:10.068100
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-03-06T03:47:10.068121
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-03-06T03:47:10.068127
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-03-06T03:47:10.068133
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-03-06T03:47:10.068137
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-03-06T03:47:10.068142

  # Chat APIs
  /v1/chats:
    get:
      tags:
      - Chats
      summary: List Chats
      description: List Chat records in paginated list
      operationId: listChat
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-03-10T04:31:06.050977
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-03-10T04:31:06.051010
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-03-10T04:31:06.051021
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-03-10T04:31:06.051030
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-03-10T04:31:06.051038
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-03-10T04:31:06.051046
    post:
      tags:
      - Chats
      summary: Create a Chat
      description: Create new chat session
      operationId: createChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-03-10T04:31:05.980158
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-03-10T04:31:05.980264
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-03-10T04:31:05.980291
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-03-10T04:31:05.980301
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-03-10T04:31:05.980308
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-03-10T04:31:05.980316
  /v1/chats/response:
    post:
      tags:
      - Chats
      summary: Chat Completion
      description: Generate response for a new customer message for an in-progress
        chat session using chatId
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-03-10T04:31:05.988007
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-03-10T04:31:05.988029
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-03-10T04:31:05.988037
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-03-10T04:31:05.988043
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-03-10T04:31:05.988049
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-03-10T04:31:05.988054
  /v1/chats/{chatId}:
    get:
      tags:
      - Chats
      summary: Get Chat
      description: Get Chat record using chatId
      operationId: getChatByChatId
      parameters:
      - name: chatId
        in: path
        description: A unique identifier for any chat
        required: true
        schema:
          type: string
        example: chat-AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-03-06T11:20:45.932188
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-03-06T11:20:45.932210
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-03-06T11:20:45.932216
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-03-06T11:20:45.932221
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-03-06T11:20:45.932226
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-03-06T11:20:45.932232
    patch:
      tags:
      - Chats
      summary: Update Chat
      description: Update dynamic variables or agent for in-progress chat session
        using chatId
      operationId: updateChatSession
      parameters:
      - name: chatId
        in: path
        description: A unique identifier for any chat
        required: true
        schema:
          type: string
        example: chat-AuUKK371Spr5nHJS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-03-06T11:20:45.894377
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-03-06T11:20:45.894400
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-03-06T11:20:45.894406
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-03-06T11:20:45.894412
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-03-06T11:20:45.894417
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-03-06T11:20:45.894422
  /v1/chats/{chatId}/end-session:
    patch:
      tags:
      - Chats
      summary: End Chat
      description: End in-progress chat session using chatId
      operationId: endChatSession
      parameters:
      - name: chatId
        in: path
        description: A unique identifier for any chat
        required: true
        schema:
          type: string
        example: chat-AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-03-06T11:20:45.904873
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-03-06T11:20:45.904894
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-03-06T11:20:45.904901
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-03-06T11:20:45.904906
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-03-06T11:20:45.904911
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-03-06T11:20:45.904916

  # Phone Number APIs
  /v1/phone-numbers:
    get:
      tags:
      - Phone Numbers
      summary: List Phone Numbers
      description: List all the purchased and your phone numbers
      operationId: listPhoneNumber
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponsePhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-03-10T04:31:17.220468
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-03-10T04:31:17.220489
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-03-10T04:31:17.220495
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-03-10T04:31:17.220499
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-03-10T04:31:17.220504
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-03-10T04:31:17.220508
    post:
      tags:
      - Phone Numbers
      summary: Create Phone Number
      description: Purchase a new phone number
      operationId: createPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberRequest_Telephony'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse_Telephony'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-03-10T04:31:17.119523
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-03-10T04:31:17.119545
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-03-10T04:31:17.119551
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-03-10T04:31:17.119555
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-03-10T04:31:17.119560
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-03-10T04:31:17.119565
  /v1/phone-numbers/import:
    post:
      tags:
      - Phone Numbers
      summary: Import Phone Number
      description: Bring your own phone number and connect it with SIP trunking
      operationId: importPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPhoneNumberRequest_Byo'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse_Byo'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-03-10T04:31:17.128792
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-03-10T04:31:17.128813
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-03-10T04:31:17.128819
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-03-10T04:31:17.128824
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-03-10T04:31:17.128828
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-03-10T04:31:17.128833
  /v1/phone-numbers/{phoneNumber}:
    get:
      tags:
      - Phone Numbers
      summary: Get Phone Number
      description: Get Phone Number by Phone Number
      operationId: getPhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: The caller’s phone number in E.164 format
        required: true
        schema:
          type: string
        example: "+14155552671"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-03-10T04:31:17.225038
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-03-10T04:31:17.225056
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-03-10T04:31:17.225062
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-03-10T04:31:17.225067
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-03-10T04:31:17.225072
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-03-10T04:31:17.225077
    delete:
      tags:
      - Phone Numbers
      summary: Delete Phone Number
      description: Delete Phone Number
      operationId: deletePhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: The caller’s phone number in E.164 format
        required: true
        schema:
          type: string
        example: "+14155552671"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-03-10T04:31:17.260619
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-03-10T04:31:17.260635
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-03-10T04:31:17.260641
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-03-10T04:31:17.260647
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-03-10T04:31:17.260652
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-03-10T04:31:17.260657
    patch:
      tags:
      - Phone Numbers
      summary: Update Phone Number
      description: "Update one or more configurations of a phone number such as friendly\
        \ name, inbound AI agent, or outbound AI agent"
      operationId: updatePhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: The caller’s phone number in E.164 format
        required: true
        schema:
          type: string
        example: "+14155552671"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-03-10T04:31:17.181823
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-03-10T04:31:17.181844
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-03-10T04:31:17.181850
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-03-10T04:31:17.181855
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-03-10T04:31:17.181860
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-03-10T04:31:17.181865
  
  # Agent APIs
  /v1/agents:
    post:
      tags:
      - Single Prompt Agents
      summary: Create Agent
      description: "Create a single prompt agent, along with agent settings"
      operationId: createSinglePromptAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/agents
                    status: 400
                    timestamp: 2026-03-20T23:32:10.682636
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/agents
                    status: 401
                    timestamp: 2026-03-20T23:32:10.682657
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/agents
                    status: 403
                    timestamp: 2026-03-20T23:32:10.682663
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/agents
                    status: 404
                    timestamp: 2026-03-20T23:32:10.682668
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/agents
                    status: 422
                    timestamp: 2026-03-20T23:32:10.682672
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/agents
                    status: 500
                    timestamp: 2026-03-20T23:32:10.682676
  /v1/agents/{agentId}:
      patch:
        tags:
        - Single Prompt Agents
        summary: Update Agent
        description: "Update a single prompt agent, along with agent settings"
        operationId: updateSinglePromptAgent
        parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAgentRequest'
          required: true
        responses:
          "200":
            description: OK
            content:
              '*/*':
                schema:
                  $ref: '#/components/schemas/CreateAgentResponse'
          "400":
            description: Bad Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                examples:
                  default:
                    value:
                      error: Bad Request
                      message: Invalid request parameters
                      path: /v1/agents
                      status: 400
                      timestamp: 2026-03-20T23:32:10.718369
          "401":
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                examples:
                  default:
                    value:
                      error: Unauthorized
                      message: X-API-Key is missing or invalid
                      path: /v1/agents
                      status: 401
                      timestamp: 2026-03-20T23:32:10.718390
          "403":
            description: Forbidden
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                examples:
                  default:
                    value:
                      error: Forbidden
                      message: Access denied for this resource
                      path: /v1/agents
                      status: 403
                      timestamp: 2026-03-20T23:32:10.718396
          "404":
            description: Not Found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                examples:
                  default:
                    value:
                      error: Not Found
                      message: The requested resource was not found
                      path: /v1/agents
                      status: 404
                      timestamp: 2026-03-20T23:32:10.718401
          "422":
            description: Validation Failed
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                examples:
                  default:
                    value:
                      error: Validation Failed
                      message: Request validation failed
                      path: /v1/agents
                      status: 422
                      timestamp: 2026-03-20T23:32:10.718406
          "500":
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                examples:
                  default:
                    value:
                      error: Internal Server Error
                      message: Unexpected server error
                      path: /v1/agents
                      status: 500
                      timestamp: 2026-03-20T23:32:10.718410


  # Campaign APIs
  /v1/campaigns:
    get:
      tags:
      - Campaigns
      summary: List Campaigns
      description: List all campaigns as a pagination
      operationId: listCampaigns
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseCampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2025-09-25T16:21:51.917143
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2025-09-25T16:21:51.917167
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2025-09-25T16:21:51.917173
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2025-09-25T16:21:51.917178
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2025-09-25T16:21:51.917182
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2025-09-25T16:21:51.917188
    post:
      tags:
      - Campaigns
      summary: Create Campaign
      description: Create a new campaign for outbound calls
      operationId: createCampaign
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2025-09-25T16:21:51.852585
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2025-09-25T16:21:51.852613
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2025-09-25T16:21:51.852619
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2025-09-25T16:21:51.852624
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2025-09-25T16:21:51.852628
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2025-09-25T16:21:51.852632
  /v1/campaigns/{campaignId}:
    get:
      tags:
      - Campaigns
      summary: Get Campaign
      description: Get a specific campaign by campaignId
      operationId: getCampaign
      parameters:
      - name: campaignId
        in: path
        description: A unique identifier assigned to the campaign.
        required: true
        schema:
          type: string
        example: XiQEBcj9cc5TFRB4
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2025-09-25T16:21:51.924543
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2025-09-25T16:21:51.924563
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2025-09-25T16:21:51.924569
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2025-09-25T16:21:51.924574
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2025-09-25T16:21:51.924579
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2025-09-25T16:21:51.924583
    delete:
      tags:
      - Campaigns
      summary: Delete Campaign
      description: Delete an existing campaign by campaignId
      operationId: deleteCampaign
      parameters:
      - name: campaignId
        in: path
        description: A unique identifier assigned to the campaign.
        required: true
        schema:
          type: string
        example: XiQEBcj9cc5TFRB4
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2025-09-25T16:21:51.929656
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2025-09-25T16:21:51.929669
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2025-09-25T16:21:51.929675
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2025-09-25T16:21:51.929681
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2025-09-25T16:21:51.929685
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2025-09-25T16:21:51.929690
    patch:
      tags:
      - Campaigns
      summary: Update Campaign
      description: Update an existing campaign
      operationId: updateCampaign
      parameters:
      - name: campaignId
        in: path
        description: A unique identifier assigned to the campaign.
        required: true
        schema:
          type: string
        example: XiQEBcj9cc5TFRB4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2025-09-25T16:21:51.874240
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2025-09-25T16:21:51.874263
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2025-09-25T16:21:51.874269
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2025-09-25T16:21:51.874275
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2025-09-25T16:21:51.874280
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2025-09-25T16:21:51.874285

  # Webhooks APIs
  /v1/webhooks:
    get:
      tags:
      - Webhooks
      summary: List Webhooks
      description: List all webhooks
      operationId: listWebhook
      parameters:
      - name: agentId
        in: query
        required: false
        schema:
          type: string
      - name: active
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseWebhookResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/webhooks
                    status: 400
                    timestamp: 2025-11-13T13:00:07.054716
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/webhooks
                    status: 401
                    timestamp: 2025-11-13T13:00:07.054737
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/webhooks
                    status: 403
                    timestamp: 2025-11-13T13:00:07.054743
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/webhooks
                    status: 404
                    timestamp: 2025-11-13T13:00:07.054748
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/webhooks
                    status: 422
                    timestamp: 2025-11-13T13:00:07.054755
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/webhooks
                    status: 500
                    timestamp: 2025-11-13T13:00:07.054759
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      description: Register a new webhook to receive realtime updates for selected
        events
      operationId: registerWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/webhooks
                    status: 400
                    timestamp: 2025-11-13T13:00:06.970119
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/webhooks
                    status: 401
                    timestamp: 2025-11-13T13:00:06.970141
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/webhooks
                    status: 403
                    timestamp: 2025-11-13T13:00:06.970147
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/webhooks
                    status: 404
                    timestamp: 2025-11-13T13:00:06.970152
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/webhooks
                    status: 422
                    timestamp: 2025-11-13T13:00:06.970156
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/webhooks
                    status: 500
                    timestamp: 2025-11-13T13:00:06.970161
  /v1/webhooks/{webhookId}:
    get:
      tags:
      - Webhooks
      summary: Get Webhook
      description: Get webhook by id
      operationId: getWebhook
      parameters:
      - name: webhookId
        in: path
        description: A unique identifier for the webhook.
        required: true
        schema:
          type: string
        example: wh_BUbkx3PsbzQm5V10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/webhooks
                    status: 400
                    timestamp: 2025-11-13T13:00:07.058952
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/webhooks
                    status: 401
                    timestamp: 2025-11-13T13:00:07.058972
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/webhooks
                    status: 403
                    timestamp: 2025-11-13T13:00:07.058978
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/webhooks
                    status: 404
                    timestamp: 2025-11-13T13:00:07.058983
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/webhooks
                    status: 422
                    timestamp: 2025-11-13T13:00:07.058988
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/webhooks
                    status: 500
                    timestamp: 2025-11-13T13:00:07.058993
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      description: Delete webhook by webhookId
      operationId: deleteWebhook
      parameters:
      - name: webhookId
        in: path
        description: A unique identifier for the webhook.
        required: true
        schema:
          type: string
        example: wh_BUbkx3PsbzQm5V10
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/webhooks
                    status: 400
                    timestamp: 2025-11-13T13:00:07.099760
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/webhooks
                    status: 401
                    timestamp: 2025-11-13T13:00:07.099777
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/webhooks
                    status: 403
                    timestamp: 2025-11-13T13:00:07.099783
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/webhooks
                    status: 404
                    timestamp: 2025-11-13T13:00:07.099788
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/webhooks
                    status: 422
                    timestamp: 2025-11-13T13:00:07.099793
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/webhooks
                    status: 500
                    timestamp: 2025-11-13T13:00:07.099798

components:
  schemas:
    # Calls APIs Schemas
    CreateCallRequest:
      required:
      - fromPhoneNumber
      - toPhoneNumber
      type: object
      properties:
        fromPhoneNumber:
          type: string
          description: The caller’s phone number in E.164 format. This number must
            be obtained from SigmaMind or configured using SIP trunking with SigmaMind.
          example: "+14155552671"
        toPhoneNumber:
          pattern: "^\\+[1-9][0-9]{6,14}$"
          type: string
          description: The callee’s phone number in E.164 format. This defines the
            recipient of the outbound call.
          example: "+14155552671"
        agentId:
          type: string
          description: The unique identifier of the Agent assigned to handle the outbound
            call.
          example: D5D0p7TUs66TTAEAx
        variables:
          type: object
          description: "A set of dynamic key-value pairs required by the selected\
            \ Agent. These variables allow personalization of the call, such as passing\
            \ the customer’s name or other contextual details."
          example:
            customer_name: Michael
    CallResponse:
      type: object
      properties:
        callId:
          type: string
          description: "A unique identifier for any call, whether inbound, outbound,\
            \ or web-based."
          example: call-AuUKK371Spr5nHJS
        callType:
          type: string
          description: Specifies the direction or type of the call.
          example: inbound
          enum:
          - "inbound, outbound, web"
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumberResponse'
        # campaign:
        #   $ref: '#/components/schemas/CampaignResponse'
        status:
          type: string
          description: Status of the call
          example: ended
          enum:
          - "scheduled, in-progress, ended, not-connected, error"
        startTime:
          type: string
          description: Timestamp indicating when the call began.
          format: date-time
          example: 2021-04-20T10:00:00Z
        endTime:
          type: string
          description: Timestamp indicating when the call ended.
          format: date-time
          example: 2021-04-20T10:00:00Z
        duration:
          type: integer
          description: Total duration of the call in seconds.
          format: int32
          example: 120
        terminationReason:
          type: string
          description: Reason for call termination
          example: inactivity
          enum:
          - "customer_ended_call, agent_ended_call, inactivity, voicemail, busy, no-answer,\
            \ failed"
        createdAt:
          type: string
          description: The timestamp when the call record was created.
          format: date-time
          example: 2021-04-20T10:00:00Z
        updatedAt:
          type: string
          description: The timestamp when the call record was last updated.
          format: date-time
          example: 2021-04-20T10:00:00Z
        variables:
          $ref: '#/components/schemas/JsonNode'
        recordingUrl:
          type: string
          description: Recording URL of the call
          example: https://livekitmedia.blob.core.windows.net/recording-container-prod/room-ST_b88xWeWhaCVw-_+91XXXXXXXXXX_7d752295/recording.mp3
        agent:
          $ref: '#/components/schemas/AgentResponse'
    PaginatedResponseCallResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CallResponse'
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        totalCounts:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean

    # Chat APIs Schemas
    CreateChatRequest:
      required:
      - agentId
      - input
      type: object
      properties:
        agentId:
          type: string
          description: The unique identifier of the Agent assigned to handle the chat
            completion.
          example: D5D0p7TUs66TTAEAx
        input:
          type: string
          description: Input message of the customer or history of the conversation
          example: Where is my order?
        dynamicVariables:
          type: object
          description: "A set of dynamic key-value pairs required by the selected\
            \ Agent. These variables allow personalization of the call, such as passing\
            \ the customer’s name or other contextual details."
          example:
            customer_name: Michael
        previousChatId:
          type: string
          description: Unique ID of the chat that will be used as context for the
            new chat.
          example: chat-D5D0p7TUs66TTAEAx
    CreateChatCompletionRequest:
[...]
