openapi: 3.0.1
info:
  title: SigmaMind APIs
  description: OpenAPI documentation SigmaMind Agent Builder APIs
  version: "1.0"
servers:
- url: https://api.sigmamind.ai
  description: SigmaMind AI Agent Builder APIs
security:
- apiKeyAuth: []
tags:
- name: Chats
  description: "Endpoints for creating and managing text-based chat sessions with\
    \ an agent. A session is started by specifying an agent and an opening message.\
    \ Returns a chatId used in all subsequent get, update, completion, and end-session\
    \ calls."
- name: Calls
  description: "Endpoints for creating and managing outbound phone calls. A call is\
    \ initiated by specifying an agent, caller number, and destination number — dynamic\
    \ variables can be included to personalise the agent's behaviour. Returns a callId\
    \ used in all subsequent get and delete operations."
- name: Phone Numbers
  description: "Endpoints for managing phone numbers used in outbound and inbound calls.
    Supports purchasing a new number through SigmaMind or importing an existing number
    via SIP trunking (BYO). Each number can be assigned separate inbound and outbound
    agents."
- name: Campaigns
  description: "Endpoints for creating and managing outbound call campaigns. A campaign\
    \ dials a CSV-uploaded contact list using a selected agent and caller number,\
    \ with support for immediate or scheduled launch. Returns a campaignId used in\
    \ all subsequent get, update, and delete operations."
- name: Agents
  description: "Endpoints for creating and managing single prompt agents. An agent\
    \ is configured with a system prompt, voice settings, and optional tools. Returns\
    \ an agentId used in all subsequent update, call, and simulation operations."
- name: Integrations
  description: "Endpoints for creating and managing third-party integrations (e.g.\
    \ Shopify, Cal.com). An integration links your account to an external service\
    \ and acts as the parent resource for auth credentials and API tools. Returns\
    \ an integrationId used in all subsequent auth and tool operations."
- name: Integration Auth
  description: "Endpoints for managing authentication credentials for a third-party\
    \ integration. Supports API Key, Basic, and Bearer token credential types — scoped\
    \ to an integration and injected automatically by tools when executing. Returns\
    \ an authId used in all subsequent get, update, and delete operations."
- name: Integration Tools
  description: "Endpoints for creating and managing API tools backed by a third-party\
    \ integration. Each tool defines an HTTP endpoint, method, and parameter schema\
    \ — scoped to an integration and using its stored auth credentials when executing.\
    \ Returns a toolId used in all subsequent get, update, delete, and execute operations."
- name: Webhooks
  description: "Endpoints for registering and managing webhooks. A webhook delivers
    real-time event notifications via HTTP POST when selected events occur on a specific
    agent — each webhook is scoped to one agent and one or more event types. Payloads
    are signed with an HMAC secret — verify the signature on your server to confirm
    authenticity."
- name: Test Cases
  description: "Endpoints for creating and managing simulation test cases for an agent.\
    \ A test case defines a conversation scenario — including user persona, goals,\
    \ and expected behaviour — used to generate a synthetic conversation with the\
    \ agent. Returns a testCaseId used in all subsequent get, update, delete, and\
    \ batch-run operations."
- name: Batch Runs
  description: "Endpoints for creating and managing batch runs of simulation test cases.
    A batch run executes multiple test cases in parallel against a selected agent
    and aggregates the results for review. Returns a batchId used in all subsequent
    get and list test-run operations."
- name: Test Runs
  description: "Endpoints for retrieving test run results within a batch. Each test\
    \ run represents a single test case execution within a batch run, identified by\
    \ a jobId. Use batchId and agentId to scope results to the correct batch."  
- name: API Keys
  description: "Endpoints for creating and managing API keys used to authenticate\
    \ public API requests. Each key must be included in the X-API-Key request header.\
    \ Returns a keyId used in all subsequent get, revoke, and delete operations."
- name: QA Rules
  description: "Endpoints for creating and managing quality assurance rules applied
    to agent conversations. A QA rule defines evaluation criteria used to automatically
    assess conversation quality. Returns a qaRuleId used in all subsequent get, update, 
    and delete operations."
- name: QA Issues
  description: "Endpoints for retrieving and managing quality assurance issues flagged
    across agent conversations. A QA issue is created with status 'Fail' when a conversation violates
    one or more QA rules — capturing the offending rule reference. It is created with status 'Success'
    when the conversation passes the evaluation criteria of QA rule(s).
    Returns a qaIssueId used in all subsequent get operations."     
paths:
  # Calls APIs
  /v1/calls:
    get:
      tags:
      - Calls
      summary: List Phone Calls
      description: "Returns a paginated list of call records for the account, sorted\
        \ by most recently created first. Use the status parameter to filter by call\
        \ state. Use page and size to navigate through results."
      operationId: listPhoneCall
      parameters:
      - name: status
        in: query
        description: "Filter calls by their current state. Accepted values: 'scheduled',\
          \ 'in_progress', 'ended', 'not_connected', 'error'. Omit to return calls\
          \ in all states."
        required: false
        schema:
          type: string
        example: ended
      - name: page
        in: query
        description: Zero-based page number to retrieve. Use 0 for the first page.
          Must be 0 or greater.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: Number of calls to return per page. Must be 1 or greater. Defaults
          to 10.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseCallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-05-05T10:06:43.846335
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-05-05T10:06:43.846359
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-05-05T10:06:43.846366
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-05-05T10:06:43.846372
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-05-05T10:06:43.846385
    post:
      tags:
      - Calls
      summary: Create Phone Call
      description: "Initiates an outbound call with the specified agent, caller, and\
        \ destination numbers. Supports dynamic variables for personalization. Returns\
        \ the created call record, including the callId for future retrieval or cancellation."
      operationId: createPhoneCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallRequest'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-05-05T10:06:43.691550
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-05-05T10:06:43.691580
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-05-05T10:06:43.691587
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-05-05T10:06:43.691594
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-05-05T10:06:43.691629
  /v1/calls/{callId}:
    get:
      tags:
      - Calls
      summary: Get Phone Call
      description: "Retrieves the full details of a single call record by callId.\
        \ Returns call status, direction, assigned agent, phone numbers, duration,\
        \ and transcript metadata."
      operationId: getPhoneCallByCallId
      parameters:
      - name: callId
        in: path
        description: "A unique identifier for any call, whether inbound, outbound,\
          \ or web-based."
        required: true
        schema:
          type: string
        example: AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-05-05T10:06:43.865269
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-05-05T10:06:43.865295
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-05-05T10:06:43.865303
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-05-05T10:06:43.865308
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-05-05T10:06:43.865317
    delete:
      tags:
      - Calls
      summary: Delete Phone Call
      description: Permanently deletes a call record by callId. Cannot be undone.
        Returns 204 No Content on success.
      operationId: deletePhoneCallByCallId
      parameters:
      - name: callId
        in: path
        description: "A unique identifier for any call, whether inbound, outbound,\
          \ or web-based."
        required: true
        schema:
          type: string
        example: AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-05-05T10:06:43.893780
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-05-05T10:06:43.893808
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-05-05T10:06:43.893818
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-05-05T10:06:43.893827
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-05-05T10:06:43.893839

  # Chat APIs
  /v1/chats:
    get:
      tags:
      - Chats
      summary: List Chats
      description: "Returns a paginated list of chat sessions for the account, sorted\
        \ by most recently created first. Use the status parameter to filter by session\
        \ state. Use page and size to navigate through results."
      operationId: listChat
      parameters:
      - name: status
        in: query
        description: "Filter chats by their current session state. Accepted values:\
          \ 'in_progress', 'ended'. Omit to return chats in all states."
        required: false
        schema:
          type: string
        example: in_progress
      - name: page
        in: query
        description: Zero-based page number to retrieve. Use 0 for the first page.
          Must be 0 or greater.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: Number of chats to return per page. Must be 1 or greater. Defaults
          to 10.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-05-05T10:06:43.803880
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-05-05T10:06:43.803914
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-05-05T10:06:43.803929
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-05-05T10:06:43.803937
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-05-05T10:06:43.803954
    post:
      tags:
      - Chats
      summary: Create Chat
      description: "Creates a new chat session with the specified agent and sends\
        \ the initial message. Returns the agent’s reply along with the chatId for\
        \ subsequent completion, update, and end-session calls."
      operationId: createChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-05-05T10:06:43.615208
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-05-05T10:06:43.615376
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-05-05T10:06:43.615403
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-05-05T10:06:43.615414
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-05-05T10:06:43.615435
  /v1/chats/response:
    post:
      tags:
      - Chats
      summary: Chat Completion
      description: Submits a new customer message to an in_progress chat session and
        returns the agent's reply. The session must be active — calls against an ended
        session will be rejected. Returns the agent's response and updated session
        state.
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-05-05T10:06:43.632363
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-05-05T10:06:43.632399
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-05-05T10:06:43.632413
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-05-05T10:06:43.632423
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-05-05T10:06:43.632444
  /v1/chats/{chatId}:
    get:
      tags:
      - Chats
      summary: Get Chat
      description: "Retrieves the full details of a single chat session by chatId.\
        \ Returns the session status, assigned agent, message history, and dynamic\
        \ variables."
      operationId: getChatByChatId
      parameters:
      - name: chatId
        in: path
        description: Unique identifier of the chat session to retrieve.
        required: true
        schema:
          type: string
        example: chat_AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-05-05T10:06:43.816624
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-05-05T10:06:43.816656
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-05-05T10:06:43.816666
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-05-05T10:06:43.816675
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-05-05T10:06:43.816689
    patch:
      tags:
      - Chats
      summary: Update Chat
      description: Partially updates an in_progress chat session by chatId. Only fields
        provided in the request body are updated — omitted fields remain unchanged.
        Returns the updated session record.
      operationId: updateChatSession
      parameters:
      - name: chatId
        in: path
        description: Unique identifier of the chat session to update.
        required: true
        schema:
          type: string
        example: chat_AuUKK371Spr5nHJS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-05-05T10:06:43.724517
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-05-05T10:06:43.724542
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-05-05T10:06:43.724549
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-05-05T10:06:43.724555
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-05-05T10:06:43.724567
  /v1/chats/{chatId}/end-session:
    patch:
      tags:
      - Chats
      summary: End Chat
      description: "Ends an in_progress chat session by chatId, marking it as completed.\
        \ No further messages can be submitted after a session is ended. Returns the\
        \ final session record."
      operationId: endChatSession
      parameters:
      - name: chatId
        in: path
        description: Unique identifier of the chat session to end.
        required: true
        schema:
          type: string
        example: chat_AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-05-05T10:06:43.735144
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-05-05T10:06:43.735169
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-05-05T10:06:43.735176
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-05-05T10:06:43.735183
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-05-05T10:06:43.735195

  # Phone Number APIs
  /v1/phone-numbers:
    get:
      tags:
      - Phone Numbers
      summary: List Phone Numbers
      description: "Returns a paginated list of all phone numbers registered on the\
        \ account, sorted by most recently added first. Includes both SigmaMind-provisioned\
        \ numbers and BYO numbers imported via SIP trunking. Use page and size to\
        \ navigate through results."
      operationId: listPhoneNumber
      parameters:
      - name: page
        in: query
        description: Zero-based page number to retrieve. Use 0 for the first page.
          Must be 0 or greater.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: Number of phone numbers to return per page. Must be 1 or greater.
          Defaults to 10.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponsePhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-05-05T10:06:46.064354
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-05-05T10:06:46.064379
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-05-05T10:06:46.064386
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-05-05T10:06:46.064392
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-05-05T10:06:46.064403
    post:
      tags:
      - Phone Numbers
      summary: Create Phone Number
      description: "Purchases and provisions a new phone number for your account.\
        \ Provide a specific phoneNumber in +E.164 format, or a countryCode (optionally\
        \ areaCode) to auto-select one. Returns the provisioned number, including\
        \ its sipPhoneNumber for subsequent get, update, and delete calls."
      operationId: createPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberRequest_Telephony'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse_Telephony'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-05-05T10:06:45.708274
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-05-05T10:06:45.708310
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-05-05T10:06:45.708322
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-05-05T10:06:45.708333
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-05-05T10:06:45.708352
  /v1/phone-numbers/import:
    post:
      tags:
      - Phone Numbers
      summary: Import Phone Number
      description: "Imports an existing phone number via SIP trunking (BYO). Provide\
        \ the number in +E.164 format along with SIP credentials (trunkUsername, trunkPassword,\
        \ terminationSipURI). Returns the imported number, including its sipPhoneNumber."
      operationId: importPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPhoneNumberRequest_Byo'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse_Byo'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-05-05T10:06:45.720077
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-05-05T10:06:45.720116
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-05-05T10:06:45.720129
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-05-05T10:06:45.720138
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-05-05T10:06:45.720158
  /v1/phone-numbers/{phoneNumber}:
    get:
      tags:
      - Phone Numbers
      summary: Get Phone Number
      description: "Retrieves the full configuration of a single phone number by its\
        \ +E.164 value. Returns assigned agents, active status, provider, and SIP\
        \ configuration for BYO numbers."
      operationId: getPhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: "Phone number to retrieve, in +E.164 format. Obtained from the\
          \ sipPhoneNumber field in the Create, Import, or List Phone Numbers response."
        required: true
        schema:
          type: string
        example: "+14155552671"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-05-05T10:06:46.067804
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-05-05T10:06:46.067828
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-05-05T10:06:46.067835
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-05-05T10:06:46.067841
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-05-05T10:06:46.067852
    delete:
      tags:
      - Phone Numbers
      summary: Delete Phone Number
      description: "Permanently removes a phone number from your account — provisioned\
        \ numbers are released to the carrier, BYO numbers remain with your telecom\
        \ provider. Cannot be undone. Returns 204 No Content on success."
      operationId: deletePhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: "Phone number to delete, in +E.164 format. Obtained from the\
          \ sipPhoneNumber field in the Create, Import, or List Phone Numbers response."
        required: true
        schema:
          type: string
        example: "+14155552671"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-05-05T10:06:46.153723
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-05-05T10:06:46.153741
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-05-05T10:06:46.153748
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-05-05T10:06:46.153753
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-05-05T10:06:46.153763
    patch:
      tags:
      - Phone Numbers
      summary: Update Phone Number
      description: Partially updates the configuration of an existing phone number.
        Only fields provided in the request body are updated — omitted fields remain
        unchanged. Returns the updated phone number record.
      operationId: updatePhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: "Phone number to update, in +E.164 format. Obtained from the\
          \ sipPhoneNumber field in the Create, Import, or List Phone Numbers response."
        required: true
        schema:
          type: string
        example: "+14155552671"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-05-05T10:06:45.943193
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-05-05T10:06:45.943218
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-05-05T10:06:45.943226
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-05-05T10:06:45.943231
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-05-05T10:06:45.943243
  
  # Agent APIs
  /v1/agents:
    post:
      tags:
      - Agents
      summary: Create Agent
      description: "Creates a new single prompt agent with the specified configuration,\
        \ including system prompt and agent settings. Returns the created agent including\
        \ its agentId, which is required for all subsequent update, call, and simulation\
        \ operations."
      operationId: createSinglePromptAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentRequest'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/agents
                    status: 400
                    timestamp: 2026-05-05T10:06:45.920565
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/agents
                    status: 401
                    timestamp: 2026-05-05T10:06:45.920589
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/agents
                    status: 403
                    timestamp: 2026-05-05T10:06:45.920597
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/agents
                    status: 404
                    timestamp: 2026-05-05T10:06:45.920604
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/agents
                    status: 500
                    timestamp: 2026-05-05T10:06:45.920616
  /v1/agents/{agentId}:
    patch:
      tags:
      - Agents
      summary: Update Agent
      description: Partially updates an existing agent by agentId. Only fields provided
        in the request body are updated — omitted fields remain unchanged. Returns
        the updated agent record.
      operationId: updateSinglePromptAgent
      parameters:
      - name: agentId
        in: path
        description: Unique identifier of the agent to update.
        required: true
        schema:
          type: string
        example: IqmljBh8eSEGAqKd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/agents
                    status: 400
                    timestamp: 2026-05-05T10:06:46.023641
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/agents
                    status: 401
                    timestamp: 2026-05-05T10:06:46.023668
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/agents
                    status: 403
                    timestamp: 2026-05-05T10:06:46.023677
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/agents
                    status: 404
                    timestamp: 2026-05-05T10:06:46.023683
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/agents
                    status: 500
                    timestamp: 2026-05-05T10:06:46.023697

  # Campaign APIs
  /v1/campaigns:
    get:
      tags:
      - Campaigns
      summary: List Campaigns
      description: "Returns a paginated list of campaigns for the account, sorted\
        \ by most recently created first. Use the status parameter to filter by lifecycle\
        \ state. Use page and size to navigate through results."
      operationId: listCampaigns
      parameters:
      - name: status
        in: query
        description: "Filter campaigns by their current lifecycle state. Accepted\
          \ values: 'live', 'scheduled', 'paused', 'completed'. Omit to return campaigns\
          \ in all states."
        required: false
        schema:
          type: string
        example: live
      - name: page
        in: query
        description: Zero-based page number to retrieve. Use 0 for the first page.
          Must be 0 or greater.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: Number of campaigns to return per page. Must be 1 or greater.
          Defaults to 10.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseCampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-05-05T10:06:46.136464
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-05-05T10:06:46.136495
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-05-05T10:06:46.136506
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-05-05T10:06:46.136513
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-05-05T10:06:46.136528
    post:
      tags:
      - Campaigns
      summary: Create Campaign
      description: "Creates an outbound call campaign with the specified agent, caller\
        \ number, and CSV contact list. Set isScheduled=true with scheduledDate, scheduledTime,\
        \ and scheduledTimezone to defer launch. Returns the created campaign, including\
        \ its campaignId."
      operationId: createCampaign
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-05-05T10:06:45.887521
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-05-05T10:06:45.887546
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-05-05T10:06:45.887555
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-05-05T10:06:45.887560
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-05-05T10:06:45.887573
  /v1/campaigns/{campaignId}:
    get:
      tags:
      - Campaigns
      summary: Get Campaign
      description: "Retrieves the full details of a single campaign by campaignId.\
        \ Returns current status, schedule configuration, assigned agent, caller number,\
        \ and any CSV upload errors."
      operationId: getCampaign
      parameters:
      - name: campaignId
        in: path
        description: Unique identifier of the campaign to retrieve.
        required: true
        schema:
          type: string
        example: camp_XiQEBcj9cc5TFRB4
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-05-05T10:06:46.145710
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-05-05T10:06:46.145740
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-05-05T10:06:46.145749
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-05-05T10:06:46.145758
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-05-05T10:06:46.145773
    delete:
      tags:
      - Campaigns
      summary: Delete Campaign
      description: Permanently deletes a campaign by campaignId. Cannot be undone
        — the campaign must have no associated calls before deletion. Returns 204
        No Content on success.
      operationId: deleteCampaign
      parameters:
      - name: campaignId
        in: path
        description: Unique identifier of the campaign to delete.
        required: true
        schema:
          type: string
        example: camp_XiQEBcj9cc5TFRB4
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-05-05T10:06:46.162168
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-05-05T10:06:46.162186
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-05-05T10:06:46.162192
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-05-05T10:06:46.162197
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-05-05T10:06:46.162205
    patch:
      tags:
      - Campaigns
      summary: Update Campaign
      description: Partially updates an existing campaign by campaignId. Only fields
        provided in the request body are updated — omitted fields remain unchanged.
        Returns the updated campaign record.
      operationId: updateCampaign
      parameters:
      - name: campaignId
        in: path
        description: Unique identifier of the campaign to update.
        required: true
        schema:
          type: string
        example: camp_XiQEBcj9cc5TFRB4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-05-05T10:06:45.996208
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-05-05T10:06:45.996237
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-05-05T10:06:45.996245
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-05-05T10:06:45.996252
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Conflict
                    message: Conflict with the current state of the resource
                    path: /v1/campaigns
                    status: 409
                    timestamp: 2026-05-05T10:06:45.996257
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-05-05T10:06:45.996262

  # Integrations APIs
  /v1/integrations:
    get:
      tags:
      - Integrations
      summary: List Integrations
      description: "Returns a paginated list of integrations registered on the account,\
        \ sorted by most recently created first. Use the provider parameter to filter\
        \ by integration type. Use page and size to navigate through results."
      operationId: listIntegrations
      parameters:
      - name: provider
        in: query
        description: "Filter integrations by provider type (e.g. shopify, cal_com).\
          \ Omit to return integrations for all providers."
        required: false
        schema:
          type: string
        example: shopify
      - name: page
        in: query
        description: Zero-based page number to retrieve. Use 0 for the first page.
          Must be 0 or greater.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: Number of integrations to return per page. Must be 1 or greater.
          Defaults to 10.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseIntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-05T10:06:46.091942
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-05T10:06:46.091966
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-05T10:06:46.091972
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-05T10:06:46.091978
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-05T10:06:46.091989
    post:
      tags:
      - Integrations
      summary: Create Integration
      description: "Registers a new third-party integration for your account. Supply\
        \ the provider type (e.g. shopify, cal_com) along with an optional friendly\
        \ name and description. Returns the created integration including its integrationId,\
        \ which is required for all subsequent auth and tool operations."
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-05T10:06:45.767619
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-05T10:06:45.767653
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-05T10:06:45.767673
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-05T10:06:45.767683
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-05T10:06:45.767701
  /v1/integrations/{integrationId}:
    get:
      tags:
      - Integrations
      summary: Get Integration
      description: "Retrieves the full details of a single integration by integrationId.\
        \ Returns the provider type, friendly name, description, and current status\
        \ of the integration."
      operationId: getIntegration
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier of the integration to retrieve.
        required: true
        schema:
          type: string
        example: intg_AuUKK371Spr5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-05T10:06:46.100229
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-05T10:06:46.100250
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-05T10:06:46.100257
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-05T10:06:46.100262
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-05T10:06:46.100273
    delete:
      tags:
      - Integrations
      summary: Delete Integration
      description: "Permanently deletes an integration by integrationId, including\
        \ all associated auth credentials and tools. Cannot be undone. Returns 204\
        \ No Content on success."
      operationId: deleteIntegration
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier of the integration to delete.
        required: true
        schema:
          type: string
        example: intg_AuUKK371Spr5
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-05T10:06:46.156792
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-05T10:06:46.156813
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-05T10:06:46.156826
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-05T10:06:46.156834
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-05T10:06:46.156909
    patch:
      tags:
      - Integrations
      summary: Update Integration
      description: Partially updates an existing integration by integrationId. Only
        fields provided in the request body are updated — omitted fields remain unchanged.
        Returns the updated integration record.
      operationId: updateIntegration
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier of the integration to update.
        required: true
        schema:
          type: string
        example: intg_AuUKK371Spr5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-05T10:06:45.961495
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-05T10:06:45.961521
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-05T10:06:45.961528
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-05T10:06:45.961535
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-05T10:06:45.961545

  # Integration Auth APIs
  /v1/integrations/{integrationId}/auth:
    get:
      tags:
      - Integration Auth
      summary: List Integration Auth
      description: "Returns a paginated list of auth records for a given integration,\
        \ sorted by most recently created first. Use the authType parameter to filter\
        \ by credential type. Use page and size to navigate through results."
      operationId: listAuth
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier for the integration
        required: true
        schema:
          type: string
        example: intg_AuUKK371Spr5
      - name: authType
        in: query
        description: "Filter auth records by credential type. Accepted values: 'API_KEY',\
          \ 'BASIC', 'BEARER'. Omit to return auth records of all types."
        required: false
        schema:
          type: string
        example: API_KEY
      - name: page
        in: query
        description: Zero-based page number to retrieve. Use 0 for the first page.
          Must be 0 or greater.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: Number of auth records to return per page. Must be 1 or greater.
          Defaults to 10.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseIntegrationAuthResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: "/v1/integrations/{integrationId}/auth"
                    status: 400
                    timestamp: 2026-05-05T10:06:46.120637
        "401":
          description: Unauthorized
          content:
            application/json:
[...]
