openapi: 3.0.1
info:
  title: SigmaMind APIs
  description: OpenAPI documentation SigmaMind Agent Builder APIs
  version: "1.0"
servers:
- url: https://api.sigmamind.ai
  description: SigmaMind AI Agent Builder APIs
security:
- apiKeyAuth: []
tags:
- name: Call
  description: Endpoints for managing calls
- name: Phone Number
  description: endpoints for managing phone numbers
- name: Campaigns
  description: endpoints for managing campaigns
- name: Integrations
  description: "Endpoints for managing third-party integrations such as Shopify, Cal.com,\
    \ etc."
- name: Integration Auth
  description: "Endpoints for managing authentication credentials (API keys, OAuth\
    \ tokens, Basic auth) for a third-party integration"
- name: Integration Tools
  description: Endpoints for managing public API tools exposed by a third-party integration.
    Users can create and manage their own tools.
- name: Webhooks
  description: Endpoints for managing webhooks
- name: Test Cases
  description: Endpoints for test case
- name: Batch Runs
  description: Endpoints for batches of test cases
- name: Test Runs
  description: Endpoints for test run    
paths:
  # Calls APIs
  /v1/calls:
    get:
      tags:
      - Calls
      summary: List Phone Calls
      description: List Phone Call records in paginated list
      operationId: listPhoneCall
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseCallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-04-05T11:38:30.688713
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-04-05T11:38:30.688737
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-04-05T11:38:30.688744
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-04-05T11:38:30.688749
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-04-05T11:38:30.688754
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-04-05T11:38:30.688760
    post:
      tags:
      - Calls
      summary: Create Phone Call
      description: Create an outbound call
      operationId: createPhoneCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-04-05T11:38:30.615174
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-04-05T11:38:30.615202
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-04-05T11:38:30.615212
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-04-05T11:38:30.615220
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-04-05T11:38:30.615228
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-04-05T11:38:30.615235
  /v1/calls/{callId}:
    get:
      tags:
      - Calls
      summary: Get Phone Call
      description: Get Phone Call record using callId
      operationId: getPhoneCallByCallId
      parameters:
      - name: callId
        in: path
        description: "A unique identifier for any call, whether inbound, outbound,\
          \ or web-based."
        required: true
        schema:
          type: string
        example: AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-03-06T03:47:10.064737
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-03-06T03:47:10.064761
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-03-06T03:47:10.064767
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-03-06T03:47:10.064772
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-03-06T03:47:10.064777
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-03-06T03:47:10.064781
    delete:
      tags:
      - Calls
      summary: Delete Phone Call
      description: Delete Phone Call record using callId
      operationId: deletePhoneCallByCallId
      parameters:
      - name: callId
        in: path
        description: "A unique identifier for any call, whether inbound, outbound,\
          \ or web-based."
        required: true
        schema:
          type: string
        example: AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/calls
                    status: 400
                    timestamp: 2026-03-06T03:47:10.068100
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/calls
                    status: 401
                    timestamp: 2026-03-06T03:47:10.068121
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/calls
                    status: 403
                    timestamp: 2026-03-06T03:47:10.068127
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/calls
                    status: 404
                    timestamp: 2026-03-06T03:47:10.068133
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/calls
                    status: 422
                    timestamp: 2026-03-06T03:47:10.068137
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/calls
                    status: 500
                    timestamp: 2026-03-06T03:47:10.068142

  # Chat APIs
  /v1/chats:
    get:
      tags:
      - Chats
      summary: List Chats
      description: List Chat records in paginated list
      operationId: listChat
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-04-05T11:38:30.658622
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-04-05T11:38:30.658649
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-04-05T11:38:30.658659
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-04-05T11:38:30.658669
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-04-05T11:38:30.658677
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-04-05T11:38:30.658686
    post:
      tags:
      - Chats
      summary: Create a Chat
      description: Create new chat session
      operationId: createChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-04-05T11:38:30.575159
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-04-05T11:38:30.575251
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-04-05T11:38:30.575261
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-04-05T11:38:30.575268
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-04-05T11:38:30.575274
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-04-05T11:38:30.575280
  /v1/chats/response:
    post:
      tags:
      - Chats
      summary: Chat Completion
      description: Generate response for a new customer message for an in-progress
        chat session using chatId
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-04-05T11:38:30.586353
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-04-05T11:38:30.586393
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-04-05T11:38:30.586403
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-04-05T11:38:30.586410
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-04-05T11:38:30.586418
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-04-05T11:38:30.586425
  /v1/chats/{chatId}:
    get:
      tags:
      - Chats
      summary: Get Chat
      description: Get Chat record using chatId
      operationId: getChatByChatId
      parameters:
      - name: chatId
        in: path
        description: A unique identifier for any chat
        required: true
        schema:
          type: string
        example: chat-AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-04-05T11:38:30.669034
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-04-05T11:38:30.669059
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-04-05T11:38:30.669068
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-04-05T11:38:30.669076
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-04-05T11:38:30.669084
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-04-05T11:38:30.669106
    patch:
      tags:
      - Chats
      summary: Update Chat
      description: Update dynamic variables or agent for in-progress chat session
        using chatId
      operationId: updateChatSession
      parameters:
      - name: chatId
        in: path
        description: A unique identifier for any chat
        required: true
        schema:
          type: string
        example: chat-AuUKK371Spr5nHJS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-04-05T11:38:30.633301
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-04-05T11:38:30.633345
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-04-05T11:38:30.633353
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-04-05T11:38:30.633358
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-04-05T11:38:30.633363
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-04-05T11:38:30.633367
  /v1/chats/{chatId}/end-session:
    patch:
      tags:
      - Chats
      summary: End Chat
      description: End in-progress chat session using chatId
      operationId: endChatSession
      parameters:
      - name: chatId
        in: path
        description: A unique identifier for any chat
        required: true
        schema:
          type: string
        example: chat-AuUKK371Spr5nHJS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/chats
                    status: 400
                    timestamp: 2026-04-05T11:38:30.642961
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/chats
                    status: 401
                    timestamp: 2026-04-05T11:38:30.642981
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/chats
                    status: 403
                    timestamp: 2026-04-05T11:38:30.642987
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/chats
                    status: 404
                    timestamp: 2026-04-05T11:38:30.642992
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/chats
                    status: 422
                    timestamp: 2026-04-05T11:38:30.642997
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/chats
                    status: 500
                    timestamp: 2026-04-05T11:38:30.643001

  # Phone Number APIs
  /v1/phone-numbers:
    get:
      tags:
      - Phone Numbers
      summary: List Phone Numbers
      description: List all the purchased and your phone numbers
      operationId: listPhoneNumber
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponsePhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-04-05T11:38:39.601902
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-04-05T11:38:39.601917
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-04-05T11:38:39.601923
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-04-05T11:38:39.601928
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-04-05T11:38:39.601933
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-04-05T11:38:39.601938
    post:
      tags:
      - Phone Numbers
      summary: Create Phone Number
      description: Purchase a new phone number
      operationId: createPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberRequest_Telephony'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse_Telephony'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-04-05T11:38:39.367623
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-04-05T11:38:39.367651
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-04-05T11:38:39.367662
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-04-05T11:38:39.367671
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-04-05T11:38:39.367681
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-04-05T11:38:39.367688
  /v1/phone-numbers/import:
    post:
      tags:
      - Phone Numbers
      summary: Import Phone Number
      description: Bring your own phone number and connect it with SIP trunking
      operationId: importPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPhoneNumberRequest_Byo'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse_Byo'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-04-05T11:38:39.378136
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-04-05T11:38:39.378163
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-04-05T11:38:39.378173
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-04-05T11:38:39.378181
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-04-05T11:38:39.378188
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-04-05T11:38:39.378196
  /v1/phone-numbers/{phoneNumber}:
    get:
      tags:
      - Phone Numbers
      summary: Get Phone Number
      description: Get Phone Number by Phone Number
      operationId: getPhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: The caller’s phone number in E.164 format
        required: true
        schema:
          type: string
        example: "+14155552671"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-04-05T11:38:39.606118
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-04-05T11:38:39.606133
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-04-05T11:38:39.606139
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-04-05T11:38:39.606144
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-04-05T11:38:39.606150
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-04-05T11:38:39.606155
    delete:
      tags:
      - Phone Numbers
      summary: Delete Phone Number
      description: Delete Phone Number
      operationId: deletePhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: The caller’s phone number in E.164 format
        required: true
        schema:
          type: string
        example: "+14155552671"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-04-05T11:38:39.636430
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-04-05T11:38:39.636444
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-04-05T11:38:39.636451
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-04-05T11:38:39.636466
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-04-05T11:38:39.636471
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-04-05T11:38:39.636476
    patch:
      tags:
      - Phone Numbers
      summary: Update Phone Number
      description: "Update one or more configurations of a phone number such as friendly\
        \ name, inbound AI agent, or outbound AI agent"
      operationId: updatePhoneNumber
      parameters:
      - name: phoneNumber
        in: path
        description: The caller’s phone number in E.164 format
        required: true
        schema:
          type: string
        example: "+14155552671"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/phone-numbers
                    status: 400
                    timestamp: 2026-04-05T11:38:39.537014
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/phone-numbers
                    status: 401
                    timestamp: 2026-04-05T11:38:39.537033
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/phone-numbers
                    status: 403
                    timestamp: 2026-04-05T11:38:39.537040
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/phone-numbers
                    status: 404
                    timestamp: 2026-04-05T11:38:39.537045
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/phone-numbers
                    status: 422
                    timestamp: 2026-04-05T11:38:39.537050
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/phone-numbers
                    status: 500
                    timestamp: 2026-04-05T11:38:39.537055
  
  # Agent APIs
  /v1/agents:
    post:
      tags:
      - Single Prompt Agents
      summary: Create Agent
      description: "Create a single prompt agent, along with agent settings"
      operationId: createSinglePromptAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/agents
                    status: 400
                    timestamp: 2026-04-05T11:38:39.524351
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/agents
                    status: 401
                    timestamp: 2026-04-05T11:38:39.524372
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/agents
                    status: 403
                    timestamp: 2026-04-05T11:38:39.524379
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/agents
                    status: 404
                    timestamp: 2026-04-05T11:38:39.524385
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/agents
                    status: 422
                    timestamp: 2026-04-05T11:38:39.524390
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/agents
                    status: 500
                    timestamp: 2026-04-05T11:38:39.524395
  /v1/agents/{agentId}:
    patch:
      tags:
      - Single Prompt Agents
      summary: Update Agent
      description: "Update a single prompt agent, along with agent settings"
      operationId: updateSinglePromptAgent
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/agents
                    status: 400
                    timestamp: 2026-04-05T11:38:39.582206
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/agents
                    status: 401
                    timestamp: 2026-04-05T11:38:39.582227
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/agents
                    status: 403
                    timestamp: 2026-04-05T11:38:39.582234
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/agents
                    status: 404
                    timestamp: 2026-04-05T11:38:39.582240
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/agents
                    status: 422
                    timestamp: 2026-04-05T11:38:39.582247
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/agents
                    status: 500
                    timestamp: 2026-04-05T11:38:39.582252

  # Campaign APIs
  /v1/campaigns:
    get:
      tags:
      - Campaigns
      summary: List Campaigns
      description: List all campaigns as a pagination
      operationId: listCampaigns
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseCampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-04-05T11:38:39.625691
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-04-05T11:38:39.625706
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-04-05T11:38:39.625713
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-04-05T11:38:39.625719
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2026-04-05T11:38:39.625724
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-04-05T11:38:39.625729
    post:
      tags:
      - Campaigns
      summary: Create Campaign
      description: Create a new campaign for outbound calls
      operationId: createCampaign
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-04-05T11:38:39.483216
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-04-05T11:38:39.483243
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-04-05T11:38:39.483251
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-04-05T11:38:39.483257
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2026-04-05T11:38:39.483262
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-04-05T11:38:39.483276
  /v1/campaigns/{campaignId}:
    get:
      tags:
      - Campaigns
      summary: Get Campaign
      description: Get a specific campaign by campaignId
      operationId: getCampaign
      parameters:
      - name: campaignId
        in: path
        description: A unique identifier assigned to the campaign.
        required: true
        schema:
          type: string
        example: XiQEBcj9cc5TFRB4
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-04-05T11:38:39.632678
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-04-05T11:38:39.632694
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-04-05T11:38:39.632701
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-04-05T11:38:39.632706
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2026-04-05T11:38:39.632711
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-04-05T11:38:39.632715
    delete:
      tags:
      - Campaigns
      summary: Delete Campaign
      description: Delete an existing campaign by campaignId
      operationId: deleteCampaign
      parameters:
      - name: campaignId
        in: path
        description: A unique identifier assigned to the campaign.
        required: true
        schema:
          type: string
        example: XiQEBcj9cc5TFRB4
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-04-05T11:38:39.638708
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-04-05T11:38:39.638730
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-04-05T11:38:39.638746
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-04-05T11:38:39.638752
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2026-04-05T11:38:39.638757
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-04-05T11:38:39.638762
    patch:
      tags:
      - Campaigns
      summary: Update Campaign
      description: Update an existing campaign
      operationId: updateCampaign
      parameters:
      - name: campaignId
        in: path
        description: A unique identifier assigned to the campaign.
        required: true
        schema:
          type: string
        example: XiQEBcj9cc5TFRB4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/campaigns
                    status: 400
                    timestamp: 2026-04-05T11:38:39.554543
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/campaigns
                    status: 401
                    timestamp: 2026-04-05T11:38:39.554564
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/campaigns
                    status: 403
                    timestamp: 2026-04-05T11:38:39.554570
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/campaigns
                    status: 404
                    timestamp: 2026-04-05T11:38:39.554576
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/campaigns
                    status: 422
                    timestamp: 2026-04-05T11:38:39.554582
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/campaigns
                    status: 500
                    timestamp: 2026-04-05T11:38:39.554587

  # Integrations APIs
  /v1/integrations:
    get:
      tags:
      - Integrations
      summary: List Integrations
      description: List all integrations for the tenant in a paginated list
      operationId: listIntegrations
      parameters:
      - name: provider
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseIntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-01T14:06:46.573411
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-01T14:06:46.573432
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-01T14:06:46.573443
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-01T14:06:46.573449
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/integrations
                    status: 422
                    timestamp: 2026-05-01T14:06:46.573453
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-01T14:06:46.573457
    post:
      tags:
      - Integrations
      summary: Create Integration
      description: "Register a new third-party integration (e.g. Shopify, Cal.com)\
        \ for the tenant"
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-01T14:06:46.470098
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-01T14:06:46.470234
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-01T14:06:46.470243
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-01T14:06:46.470248
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/integrations
                    status: 422
                    timestamp: 2026-05-01T14:06:46.470253
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-01T14:06:46.470258
  /v1/integrations/{integrationId}:
    get:
      tags:
      - Integrations
      summary: Get Integration
      description: Get Integration record using integrationId
      operationId: getIntegration
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier for the integration
        required: true
        schema:
          type: string
        example: intg-AuUKK371Spr5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-01T14:06:46.581855
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-01T14:06:46.581872
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-01T14:06:46.581878
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-01T14:06:46.581882
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/integrations
                    status: 422
                    timestamp: 2026-05-01T14:06:46.581887
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-01T14:06:46.581891
    delete:
      tags:
      - Integrations
      summary: Delete Integration
      description: Delete Integration record using integrationId
      operationId: deleteIntegration
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier for the integration
        required: true
        schema:
          type: string
        example: intg-AuUKK371Spr5
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-01T14:06:46.615592
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-01T14:06:46.615613
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-01T14:06:46.615621
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-01T14:06:46.615626
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/integrations
                    status: 422
                    timestamp: 2026-05-01T14:06:46.615634
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-01T14:06:46.615638
    patch:
      tags:
      - Integrations
      summary: Update Integration
      description: Update one or more configurations of an existing integration such
        as friendly name or status
      operationId: updateIntegration
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier for the integration
        required: true
        schema:
          type: string
        example: intg-AuUKK371Spr5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Bad Request
                    message: Invalid request parameters
                    path: /v1/integrations
                    status: 400
                    timestamp: 2026-05-01T14:06:46.535528
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Unauthorized
                    message: X-API-Key is missing or invalid
                    path: /v1/integrations
                    status: 401
                    timestamp: 2026-05-01T14:06:46.535549
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Forbidden
                    message: Access denied for this resource
                    path: /v1/integrations
                    status: 403
                    timestamp: 2026-05-01T14:06:46.535557
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Not Found
                    message: The requested resource was not found
                    path: /v1/integrations
                    status: 404
                    timestamp: 2026-05-01T14:06:46.535562
        "422":
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Validation Failed
                    message: Request validation failed
                    path: /v1/integrations
                    status: 422
                    timestamp: 2026-05-01T14:06:46.535567
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    error: Internal Server Error
                    message: Unexpected server error
                    path: /v1/integrations
                    status: 500
                    timestamp: 2026-05-01T14:06:46.535572

  # Integration Auth APIs
  /v1/integrations/{integrationId}/auth:
    get:
      tags:
      - Integration Auth
      summary: List Integration Auth Records
      description: List all auth records for an integration in a paginated list
      operationId: listAuth
      parameters:
      - name: integrationId
        in: path
        description: Unique identifier for the integration
        required: true
        schema:
          type: string
        example: intg-AuUKK371Spr5
      - name: authType
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
[...]
